* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.intro,
.nav,
.logo,
.content,
.section,
.intro, 
.image, 
#section1, 
#section2, 
.cards, 
.card-mini {
    display: flex;
}

.intro, 
.nav {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    font-size: 24px;
    flex: 1;
    padding: 10px;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex: auto;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    text-decoration: none; 
    list-style: none;
    color: #E5E7EB;
}

.nav ul li {
    padding: 10px;
}

.nav-links {
    flex: 2;
    justify-content: space-around;
}

.intro {
    flex-direction: column;
}

.image {
    background-color: #1F2937;
    color: #E5E7EB;
}

#section1 {
    justify-content: space-around;
    background-color: #1F2937;
}

#section2 {
    flex-direction: column;
}

.cards {
    flex-direction: row;
    justify-content: space-around;
}
.card-mini {
    flex-direction: column;
    justify-content: center;
}